# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
*.egg-info/
dist/
build/

# Logs
*.log

# Cookies & Sensitive Data
*cookies.txt
*.cookies
config.yaml
!config.example.yaml

# Downloaded Content
downloads/

# OS
.DS_Store
.idea/
.vscode/

# Project specific
kk_app.js
*.spec
*.code-workspace


# tmp html
*.htm*

# tmp video file
*.mp4
*.mkv
*.webm
*.part